<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/todo.css" />
</head>
<body>
    <div id="app">
        <main class="main-header"></main>
        <main class="main-sidebar"></main>
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/todo.js"></script>
</body>
</html>
