body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Consolas,'Microsoft YaHei';
    background-image: url(https://github.com/langnang/public-resources/blob/master/image/bg/starry-sky/101695.jpg?raw=true);
    background-size: 100% 100%;
}
#app{
    width:100%;
    height:100%;
}

.main-header{
    display:none;
}
.main-sidebar{
    display:none;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}
h1{
    font-size:64px;
}
.jumbotron{
    width:768px;
}