@{
    ViewData["Title"] = "注册页";
}

<div class="container">
    <h1 class="text-center">ToDoList</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <input type="email" class="form-control" id="user_name_register" placeholder="账号">
        </div>
        <div class="form-group" style="display:none;">
            <input type="password" class="form-control" id="user_password_register" placeholder="密码">
        </div>
        <div class="form-group" style="display:none;">
            <input type="password" class="form-control" id="user_password_sure_register" placeholder="确认密码">
        </div>
    </form>
</div>

